<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Verificador MyBOT</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="./style.css" >
  </head>
  <body class="bg-page">
    <section class="hero is-fullheight">
      <div class="hero-body">
        <div class="container has-text-centered">
          <div class="columns is-mobile is-centered">
            <div class="column is-half">
              <div class="box box-auth">
                <figure class="image is-128x128" style="margin: auto; margin-bottom: 10px;">
                  <img src="https://i.imgur.com/uJgD1JJ.png">
                </figure>
                <h1 class="text-title">Autorizado</h1>
                <p class="text-subtitle">Ya puedes cerrar esta ventana o pestaña.</p>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </section>

  </body>
</html>