<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Verificador MyBOT</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="./style.css" >
  </head>
  <body class="bg-page">
    <section class="hero is-fullheight">
      <div class="hero-body">
        <div class="container is-max-desktop has-text-centered ">
          <div class="box box-style">
            <figure class="image is-96x96 center-image">
              <img class="is-rounded" src="{{ avatar }}">
            </figure>
            <h1 class="title color-header"><span class="s-color">{{ username }}</span></span></h1>
            <h1 class="title color-header">Te damos la bienvenida a <span class="s-color"> MyBOT TEAM</span></h1>
            <h2 class="subtitle color-header">Comunidad soporte basado en portalmybot.com ¡Aprende y comparte nuevas cosas sobre el desarrollo de bots!</h2>
            <br/>
            <p class="subtitle is-5">¿Qué ofrecemos?</p>
            <div class="box box-color">
              <ul>
                <li>Soporte para el desarrollo de Bots para Discord en diferentes canales y categorias.</li>
                <li>Staff, gestores y miembros experimentados en el desarrollo de Bots para Discord.</li>
                <li>Listado para Bots de Discord. <a href="https://portalmybot.com/list/" target="_blank" rel="noopener">MyBOT List</a> </li>
                <li>Código y ejemplos para el desarrollo de Bots para Discord. <a href="https://portalmybot.com/codes/" target="_blank" rel="noopener">MyBOT Codes</a> </li>
                <li>Sistema de perfiles, logros, seguidores y puntos por ayuda entre la comunidad. <a href="https://portalmybot.com/leaderboard/" target="_blank" rel="noopener">MyBOT Users</a></li>
                <li>Y más funciones para facilitar el desarrollo de bots y contenido para comunidades<br /> de Discord. <a href="https://portalmybot.com/" target="_blank" rel="noopener">PortalMyBOT</a></li>
              </ul>
            </div>
            
            <form method="post">
             <button class="button is-success is-medium">Aceptar y continuar</button>
            </form>
          </div>
        </div>
      </div>
    </section>

  </body>
</html>